* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    max-width: 600PX;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0/10%);
    padding: 1rem;
    background-color: #555;
    color: #fff;
}

h1 {
    margin: .5rem;
}

form {
    background-color: #939292;
    min-width: 250px;
}