* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    max-width: 800px;
    margin: 2rem;
    border: 2px solid rgb(3, 3, 3/0.4);
    padding: 2rem;
    background-color: #f2f3f7;
    color: #100e0e;
}

h1 {
    margin: 1.5rem;
}

form {
    background-color: #f0f7f3;
    min-width: 400px;
    margin: 1rem;
    
}