table {
    border-collapse: collapse;
    border: 2px solid rgb(130, 130, 130);
    letter-spacing: 1px;
}

th, td {
    border: 2px solid rgb(140, 140, 140);
    padding: 10px 4px;
    text-align: center;
}

thead tr, tfoot tr {
    background-color: black;
    color: aqua;
    font-size: large;
    font-weight: 700;
}