main {
    max-width: 840px;
    margin: 0 auto;
}

aside   {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #89f4ee;
    padding: 15px;
    background-color: #5f57b4;
    color: #0c0a0a;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid #0d18f1;
    padding: 5px;
    box-shadow: 2px 2px 8px rgba (0,0,0,0.3);
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 2px solid #61e77e;
    text-align: center;
    padding-top: 10px;
}

nav  {
    background-color: #7ef959;
    padding: 10px;
}

nav a {
    color: rgb(84, 33, 237);
    padding: 10px;
    display: block;
    text-decoration: none;
}

h1  {
    color: #041e44;
}