main {
    max-width: 840px;
    margin: 0 auto;

}

aside   {
    width: 300px;
    margin: 20px auto;
    border: 1px solid #f89797;
    padding: 15px;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

p {
    padding: 0;
}

footer {
    margin-top: 20px;
    border-top: 2px solid #ccc;
    text-align: center;
    padding-top: 10px;
}